{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'task_update' tasks.pk %}">Update Task</a></li>
    <li><a href="{% url 'delete' tasks.pk %}">Delete Task</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="detail">Detail</h1>
    <p class="detail_desc">Summary: {{ tasks.summary }}</p>
    <p class="details">Description: {{ tasks.description }}</p>
    <p class="details">Status: {{ tasks.status }}</p>
    {% for task_type in tasks.type.all %}
        <p class="details">Type: {{ task_type }}</p>
    {% endfor %}
    <p class="details">Created at: {{ tasks.created_at }}</p>
    <p class="details">Edit time: {{ tasks.edit_time }}</p>
    <p class="details">Project: {{ tasks.project }}</p>
{% endblock %}